.gaspol {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gaspol img {
    width: 100%;
}

.gaspol .logo {
    margin-top: -900px;
}

.gaspol .logo img {
    width: 40%;
    height: 40%;
    /* margin-top: -900px; */
}

.gaspol .logo img:hover {
    transform: rotate(360deg);
    transition: 3s;
}

.gaspol .pakpol {
    background: #38AEAA;
    opacity: 0.5;
    box-shadow: 30px 50px 24px rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    width: 540px;
    height: 550px;
    margin-left: 700px;
    margin-top: 150px;
}

.gaspol .pakpol p {
    font-size: 20px;
    margin-top: -650px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    padding-top: 10px;
}

#about {
    background: rgba(255, 114, 0, 0.6);
    border-radius: 8px;
}