* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "roboto", sans-serif;
}


/* navigation */

.kontainer {
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav ul {
    display: flex;
}

nav .logo {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    color: #000000;
}

.nav_items li {
    list-style: none;
    margin-right: 100px;
}


/*     
    .nav_items li:nth-last-of-type(1) {
        margin: 0; */


}
.nav_items li a {
    color: #000000;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

/* header */
.header_kontainer {
    background: #F2AB72;
    width: 1920px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: #021718;
}
header h2 {
    font-size: 50px;
    line-height: 59px;
    color: #021718;
    width: 656px;
}
header .hero_image {
    position: relative;
}
header .hero_image img {
    transition: 300ms;
    position: relative;
    z-index: 100;
}
header .hero_image img:hover {
    transform: rotate(-6deg);
}

/* hidden */
.search_box {
    display: none;
}