.header-content {
    width: 1920px;
    height: 3300px;
    margin-left: auto;
    margin-right: auto;
}

.header-content img {
    width: 1920px;
}

#with {
    width: 1920px;
}

#bottom-1-objek {
    margin-top: -60px;
}

.body1 {
    width: 1920px;
    background: #F2AB72;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: repeat-y;
}

.header-content .gambar {
    display: flex;
}

.container1 {
    height: 149px;
    padding-top: 100px;
    background: #13072E;
    margin-top: 100px;
}

.container1 H1 {
    text-align: center;
    margin-top: -74px;
    font-family: "Pristina";
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 115px;
    color: #FFFFFA;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}


/* image papuma */

.image-papuma {
    display: flex;
    margin-top: 100px;
}

.image-papuma img {
    width: 880px;
}

.image-papuma a {
    margin: 0 40px;
}

.image-papuma a img:hover {
    transform: scale(1.1);
    transition: 500ms;
}


/* papuma 2 */

#papuma2 {
    margin-left: -80px;
}


/* witbok */

.whitbox-y {
    width: 10px;
    height: 1400px;
    background: #FFFFFA;
    margin-left: 950px;
    margin-top: -1331px;
}

.whitbox-x {
    width: 1920px;
    height: 23px;
    margin-top: -700px;
    background: #FFFFFA;
}

.whitbox-x1 {
    width: 1920px;
    height: 23px;
    margin-top: 650px;
    background: #FFFFFA;
}

.centang img {
    position: absolute;
    width: 100px;
    height: 199px;
    margin-left: 905px;
    margin-top: -165px;
}

.centang img:hover {
    transform: translateY(23px);
}

.orenbox {
    margin-top: 31px;
}

.orenbox p {
    text-decoration: none;
    background: rgb(232, 108, 19);
    border-radius: 10px;
    position: absolute;
    width: 1920px;
    height: 148px;
    font-family: Viner Hand ITC;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 116px;
    color: #000000;
    padding-top: 10px;
    padding-left: 80px;
}

.bintang4 img {
    position: absolute;
    width: 414px;
    height: 80px;
}

.bintang4 {
    padding-left: 385px;
    padding-top: 20px;
}

.user-rating {
    position: absolute;
    width: 1744px;
    height: 349px;
    background: #FFFFFA;
    border-radius: 50px;
    margin-top: -900px;
    margin-left: 61px;
}


/* submit */

.submit {
    width: 229px;
    height: 70px;
    background: #12DAF5;
    border-radius: 50px;
    margin-left: 1321px;
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 7px #000000;
}

.submit:hover {
    border: none;
}

/* use rating */

.user-rating img {
    margin-top: 91px;
    margin-left: 28px;
}

.container-bro {
    /* position: absolute; */
    width: 1186px;
    height: 11px;
    background: #000000;
    margin-left: 365px;
    margin-top: -180px;
}

.star {
    width: 425px;
    height: 80px;
    margin-left: 1109px;
    margin-top: -180px;
}

.anonim {
    width: 675px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #000000;
    opacity: 1;
    border: none;
    margin-left: 388px;
}

/* garis kecil */

.container-brow {
    width: 767px;
    height: 4px;
    background: #000000;
    margin-left: 409px;
    margin-top: 69px;
}

#brow {
    margin-top: 40px;
}

#nn {
    margin-top: -470px;
}

.name-n {
    width: 675px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #000000;
    margin-left: 388px;
}

.comenbr {
    margin-top: -140px;
    margin-left: 400px;
}

.komen {
    max-width: 767px;
    max-height: 129px;
    min-width: 767px;
    min-height: 129px;
    /* height: 129px; */
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
    border: none;
    background-color: transparent;
}

.comenbr h1 {
    margin-top: 10px;
}

#wisata {
    background: rgba(255, 114, 0, 0.6);
    border-radius: 8px;
}