.header-content {
    width: 1920px;
    height: 2500px;
    margin-left: auto;
    margin-right: auto;
}

.header-content img {
    width: 1920px;
}

.body1 {
    width: 1920px;
    background: #F2AB72;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: repeat-y;
}

.header-content .gambar {
    display: flex;
}

.container1 {
    height: 149px;
    padding-top: 100px;
    background: #13072E;
    margin-top: 100px;
}

.container1 H1 {
    text-align: center;
    margin-top: -74px;
    font-family: "Pristina";
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 115px;
    color: #FFFFFA;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}


/* image papuma */

.image-papuma {
    display: flex;
    margin-top: 100px;
}

.image-papuma img {
    width: 880px;
}

.image-papuma a {
    margin: 0 40px;
}

/* papuma 2 */

#papuma2 {
    margin-left: -80px;
}