.header-content {
    width: 100%;
    height: 3300px;
    margin-left: auto;
    margin-right: auto;
}

.admin img {
    margin-top: -170px;
}

.header-content img {
    width: 100%;
}

#bottom-1-objek {
    margin-top: -270px;
}

#anjkj {
    padding-top: 100px;
}

.body1 {
    width: 100%;
    background: #F2AB72;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: repeat-y;
}

.header-content .gambar {
    display: flex;
}

.container1 {
    display: inline-block;
    height: 0px;
    width: 100%;
    padding-top: 100px;
    background: #13072E;
    margin-top: 100px;
}

.container1 H1 {
    text-align: center;
    margin-top: -100px;
    font-family: "Pristina";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 115px;
    color: #FFFFFA;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}


/* image papuma */

.image-papuma {
    display: flex;
    margin-top: 100px;
}

.image-papuma img {
    width: 100%;
}

.image-papuma a {
    margin: 0 40px;
}

.image-papuma a img:hover {
    transform: scale(1.1);
    transition: 500ms;
}


/* papuma 2 */

#papuma2 {
    margin-left: -80px;
}


/* witbok */

.whitbox-y {
    width: 10px;
    height: 1400px;
    background: #FFFFFA;
    margin-left: 670px;
    margin-top: -1331px;
}

.whitbox-x {
    width: 100%;
    height: 23px;
    margin-top: -540px;
    background: #FFFFFA;
}

.whitbox-x1 {
    width: 100%;
    height: 23px;
    margin-top: 500px;
    background: #FFFFFA;
}

.centang img {
    position: absolute;
    width: 5%;
    margin-left: 645px;
    margin-top: -125px;
}

.centang img:hover {
    transform: translateY(23px);
    transition: 700ms;
}

.orenbox {
    margin-top: 100px;
}

.orenbox p {
    text-decoration: none;
    background: rgb(232, 108, 19);
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 80px;
    font-family: Viner Hand ITC;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 116px;
    color: #000000;
    padding-top: 10px;
    padding-left: 80px;
}

.bintang4 img {
    position: absolute;
    width: 20%;
    /* width: 414px;
    height: 80px; */
}

.bintang4 {
    padding-left: 280px;
    padding-top: 80px;
}

.user-rating {
    position: absolute;
    width: 70%;
    height: 349px;
    background: #FFFFFA;
    border-radius: 50px;
    margin-top: -1200px;
    margin-left: 0px;
}

#koak {
    width: 10%;
}


/* submit */

.submit {
    width: 200px;
    height: 60px;
    background: #12DAF5;
    border-radius: 50px;
    margin-left: 700px;
    margin-top: -16px;
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 67px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 7px #000000;
}

.submit:hover {
    border: none;
}


/* use rating */

.user-rating img {
    margin-top: 91px;
    margin-left: 28px;
}

.container-bro {
    /* position: absolute; */
    width: 740px;
    height: 11px;
    background: #000000;
    margin-left: 130px;
    margin-top: -80px;
}

.star {
    /* display: f; */
    /* width: 425px;
    height: 80px; */
    margin-left: 470px;
    margin-top: -180px;
}

.star img {
    width: 50%;
    margin-left: 130px;
}

.anonim {
    width: 439px;
    display: flex;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #000000;
    opacity: 1;
    border: none;
    margin-left: 150px;
    margin-top: -85px;
}


/* garis kecil */

.container-brow {
    width: 700px;
    height: 4px;
    background: #000000;
    margin-left: 130px;
    margin-top: 69px;
}

#brow {
    margin-top: 40px;
}

#nn {
    margin-top: -700px;
}

.name-n {
    width: 675px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #000000;
    margin-left: 140px;
    margin-top: -80px;
}

.comenbr {
    margin-top: -140px;
    margin-left: 400px;
}

.komen {
    max-width: 700px;
    max-height: 129px;
    min-width: 700px;
    min-height: 129px;
    /* height: 129px; */
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
    border: 0px;
    background-color: transparent;
}

textarea:focus,
input:focus {
    outline: 0;
}

.comenbr {
    margin-top: -150px;
    margin-left: 130px;
    /* margin-top: 0px; */
}

#wisata {
    background: rgba(255, 114, 0, 0.6);
    border-radius: 8px;
}