* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}


/* Navigation */

.nav-container {
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
    margin-top: -65px;
    z-index: 500;
    position: relative;
}

.wrapper {
    width: 1800px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo a{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    color: #000000;
    text-decoration: none;
}

nav .logo a:hover {
    color: #0D6368;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #021718;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.nav-items li a:hover {
    color: #FFFFFA;
    background-color: #FF7200;
    border-radius: 8px;
}

/* Header */

.header-container {
    background: #f5a05c;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    width: 470px;
    color: #021718;
    margin-bottom: 10px;
}

header h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 75px;
    width: 500px;
    color: #021718;
    margin-bottom: 24px;
    padding-left: 30px;
}

header p {
    font-size: 24px;
    line-height: 42px;
    color: #021718;
    width: 440px;
    margin-bottom: 48px;
}

header a {
    color: #fffffa;
    font-size: 24px;
    text-decoration: none;
    background: #01847f;
    border-radius: 8px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
}

header a:hover {
    transform: translateY(-8px);
}


/* Hero image */

header .hero-image {
    position: relative;
}

header .hero-image img {
    transition: 300ms;
    position: relative;
    z-index: 100;
}

header .hero-image img:hover {
    transform: rotate(-6deg);
}

.hero-gambar a img:hover {
    transform: scale(1.1) ;
}

.hero-gambar p:hover {
    color: #f80808;
    background-color: #59e608;
}
/* Search Box */

.search-box {
    width: 1900px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    top: 0;
    z-index: 101;
    transition: 300ms;
}

.search-box.active {
    top: 72px;
}

.search-box input {
    background: #fffffa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 8px 8px;
    font-size: 24px;
    line-height: 42px;
    border: 0;
    padding: 12px 48px;
}

.search-box input::placeholder {
    color: #b3b3b3;
}


/* Search & Close Buttons */

.nav-btn-container {
    display: flex;
    position: relative;
}

.nav-btn-container img {
    position: absolute;
}

.nav-btn-container .close-btn {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: 300ms;
}

.nav-btn-container .search-btn {
    pointer-events: auto;
    transition: 300ms;
}

.nav-btn-container.active .search-btn {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
}

.nav-btn-container.active .close-btn {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.hero-content2 img {
    width: 1920px;
    height: 316px;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-content2 h1 {
    font-family: "Pristina", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 250px;
    line-height: 299px;
    color: #FF7200;
    text-align: center;
    margin-top: -250px;
}


/* gambar gambar */

.hero-gambar {
    display: flex;
    width: 1920px;
    margin: 0 auto;
    padding-left: 95px;
}

.hero-gambar a {
    margin: 0 10px;
}

.hero-gambar a:nth-of-type(1) {
    margin-left: 0;
}

.hero-gambar p {
    text-decoration: none;
    background: #F06464;
    border-radius: 10px;
    position: absolute;
    width: 551px;
    height: 61px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}

#hero-gambar-1 {
    padding-top: 100px;
}


/* botom */

.bottom-1 {
    background: #021718;
    width: 100%;
    height: 489px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.bottom-1 img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bottom-1 p {
    background: #48C757;
    border-radius: 20px;
    /* position: absolute; */
    width: 300px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: "Adamina", sans-serif;
    font-size: 35px;
    line-height: 48px;
    color: #000000;
}

.wrapper2 {
    background: none;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.sosial-icon {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    align-items: center;
}

#iconig {
    position: absolute;
    padding-left: 1400px;
}

#iconfb {
    position: absolute;
    padding-left: 0px;
    padding-top: 0px;
}

.admin {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}

.admin a {
    margin-top: -150px;
    text-decoration: none;
}

#admin1 {
    position: absolute;
    padding-left: 0px;
    padding-top: 70px;
}

#admin2 {
    position: absolute;
    padding-left: 500px;
    padding-top: 70px;
}

.withbox {
    position: absolute;
    width: 100%;
    height: 37px;
    background: #E5E5E5;
    margin-top: 50px;
}

.jarak {
    padding-bottom: 10px;
    margin: 0 100;
}

.admin #admin1 .jarak {
    margin: 100 100px;
    padding-left: 500px;
}

.admin #admin2 .jarak {
    /* margin: 0 100px; */
    margin-right: -1000px;
    /* padding-right: 500px; */
}

.footer {
    text-align: center;
    color: #FFFFFA;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    line-height: 60px;
    margin-top: -60px;
}