body {
    background-image: url(../gambar/BMW_S1000RR.JPG);
    /* background-repeat: no-repeat; */
    background-blend-mode: color-dodge;
    /* background-position: cente; */
}

#manto {
    color: khaki;
}

.sempol {
    background: #efeff6 url(../gambar/logo1.jpg) top;
    color: #efeff6;
}

.dadar {
    border-style: dotted;
    /* border-block-color: #47f4e7; */
    border-style: dotted double dashed none;
}

.winter {
    background-color: aquamarine;
    padding-top: 100px;
    padding-left: 30px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 100px;
    height: 600px;
    width: 600px;
}

#wilo {
    width: 1000px;
    min-height: 1000px;
}

#max {
    width: 1000px;
    max-height: 1000px;
}

.ratatengah {
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 4 px;
}

.ratakiri {
    text-align: left;
    text-decoration: line-through;
    text-transform: lowercase;
    letter-spacing: -4px;
    font-size: 30px;
}

.ratakanan {
    text-align: right;
    text-decoration: underline;
    text-transform: capitalize;
    word-spacing: 4px;
}

.ratakanankiri {
    text-align: justify;
    text-decoration: solid;
    word-spacing: -4 px;
}