* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}


}
.header_panjang {
    background: #f5a05c;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}
header .gambar {
    position: relative;
}
header .gambar img {
    transition: 300ms;
    position: relative;
    z-index: 100;
}
header .gambar img:hover {
    transform: rotate(-6deg);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}